# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

source
PROJECT_DESCRIPTION.md
PROJECT_RECOMMENDED_FIXES_CHECKLIST.md
Rant_App_Enhancement_Plan.md
Project_Misc_Code.md
Versions_File.md
core_bug_fixes.md
RANT_APP_STATUS_REPORT.md
oldCode.md
COLOR_DESIGN_SYSTEM.MD
CodebaseAnalysis.md

# Environment variables
.env
.env.local
.env.development
.env.test

# Other files/directories
back_files

# Ignore build output
dist/
