@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(29, 78, 216, 0.7);
    transform: scale(1);
  }

  50% {
    box-shadow: 0 0 0 10px rgba(29, 78, 216, 0);
    transform: scale(1.03);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(29, 78, 216, 0);
    transform: scale(1);
  }
}

.pulse-animation {
  animation: pulse 2s ease-in-out;
}

.new-rant {
  position: relative;
  z-index: 10;
}
